@model Lab5.Models.ProfileViewModel
@{
    ViewData["Title"] = "Профіль";
}


<div>
    <h1> Ім'я користувача: @Model.UserName</h1>
    <h1> ПІБ: @Model.FullName</h1>
    <h1> Email: @Model.Email</h1>
    <h1> Номер телефону: @Model.Phone</p>
</div>